<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/My/different/arcade_auto_soft/sperasofttest">
        <classes>
            <class name="com.ilkow.sperasoft.LoginTest">
                <methods>
                    <include name="setup"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>